<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="com.apptemplate.web">
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="com.apptemplate.web"/>
        <property name="java-output-path" value="/com.apptemplate.web/build/classes"/>
    </wb-module>
</project-modules>
